Doxyfile
Makefile
config.h
config.log
config.status
.deps/
src/sat/solvers/glucose/Makefile
src/sat/solvers/glucose/config.log
src/sat/solvers/glucose/config.status
src/sat/solvers/glucose/libglucose.a
stamp-h1
tags
*.swp
*.dirstamp
*.swo
*.o
*.a
pme
!src/pme/*
parseproof
!src/parseproof/*
libsat.a
autom4te.cache/
config.h.in~
test_*
!test_*.cpp
*.tar.gz
*.log
