Doxyfile
Makefile
Makefile.in
build-aux/
config.h
config.h.in
config.log
config.status
.deps/
src/sat/solvers/glucose/Makefile
src/sat/solvers/glucose/config.log
src/sat/solvers/glucose/config.status
src/sat/solvers/glucose/libglucose.a
stamp-h1
tags
*.swp
*.dirstamp
*.swo
*.o
*.a
/pme
parseproof
!src/parseproof/*
libsat.a
configure
autom4te.cache/
config.h.in~
test_*
!test_*.cpp
*.tar.gz
*.log
